{% extends 'layout.html' %} {% block title %} Monitoring Produksi {% endblock %} {% block body %}
      
      <div class="container justify-content-center">
        <div class="starter-template col-md-6 mb-4">
            <h1>Data Produksi ban </h1>              
            <div class="starter-template col-md-6 mb-4" style="padding-top: 0rem;">
            
                <p>Input Tanggal Awal :</p>
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" name="startDate"/>
                    <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <div style="padding-top: 2rem; padding-bottom: 2rem;">
                    <button type="button" class="btn btn-success btn-lg" action="{{ url_for('insertban')}}" method="POST">Lihat Data</button>
                </div>
                
                        
            
            </div>

            <div class="starter-template col-md-6 mb-4" style="padding-top: 0rem;">
            
                <p>Input Tanggal Akhir :</p>
                <div class='input-group date' id='datetimepicker2'>
                    <input type='text' class="form-control" name="endDate"/>
                    <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                

            </div>
        </div>

        <div class="starter-template col-md-6 mb-4" style="padding-bottom: 3rem;">
            <h1> </h1>

          <table class="table table-striped ">
            <thead>
              <tr>

                <td>tanggal</td>
                <td>jumlah produksi ban</td>
                <td>target produksi ban</td>
                <td>Status Produksi</td>
              </tr>
            </thead>

            <tbody>
              {% for row in bans %}

              <tr>

                <td>{{ row.1 }}</td>
                <td>{{ row.2 }}</td>
                <td>{{ row.3 }}</td>
                <td>{{ row.4 }}</td>

                {% else %}
                </td>
              </tr>

              <tr>
                <td colspan="3">Mohon maaf, data masih kosong.</td>
              </tr>

              {% endfor %}
            </tbody>
          </table>
        </div>
        <!--
        <div class="starter-template col-md-6 mb-4">
          <h1>Data Produksi Aki </h1>

          <table class="table table-striped">
            <thead>
              <tr>
                <td>tanggal</td>
                <td>jumlah produksi aki</td>
                <td>target produksi aki</td>
              </tr>
            </thead>

            <tbody>
              {% for row in controls %}

              <tr>

                <td>{{ row.1 }}</td>
                <td>{{ row.4 }}</td>
                <td>{{ row.5 }}</td>

                {% else %}
                </td>
              </tr>

              <tr>
                <td colspan="3">Mohon maaf, data masih kosong.</td>
              </tr>

              {% endfor %}
            </tbody>
          </table>
        -->
        
          <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
          <script type="text/javascript">
            google.charts.load('current', {'packages':['bar']});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
              var data = google.visualization.arrayToDataTable([
                {% for row in bans %}
                  ['Tanggal', 'Jumlah Produksi', 'Target Produksi'],
                  ['{{ row.1 }}','{{ row.2 }}','{{ row.3 }}' ],
                  
                  {% else %} {% endfor %}
              ]);

              var options = {
                chart: {
                  title: 'Diagram Batang ',
                  subtitle: 'Ststem Monitoring ban dan Aki',
                }
              };

                var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

                 chart.draw(data, google.charts.Bar.convertOptions(options));
            }
           </script>
        

        <div>
        </div>
      </div>

        

      {% endblock %}
    
