{% extends 'layout.html' %} {% block title %} About Us {% endblock %} {% block body %}
<div class="container">
  <div class="starter-template">
    <h1>KELOMPOK 6 ARM-2</h1>
    <h2>(Dashboard Production Control System)</h2>

    <section class="text-center"><img src= {{ url_for('static', filename = "4.jpg" )}} width="800" class="rounded-circle"/></section>
    <p class="lead">
      Nama Anggota kelompok: <br />
      1. Abidan Septian Nugraha P (19/447408/SV/17002) <br />
      2. Angelo Bayu Prakoso (19/447110/SV/16829) <br />
      3. Caesar Febrian Essanov (19/447312/SV/17006) <br />
      4. Chaesar Syaefuddin (19/441195/SV/16546) <br />
      5. Pintien Wicaksono (19/447122/SV/16841)
    </p>
  </div>
</div>
<!-- /.container -->
{% endblock %}
