{% extends 'layout.html' %} {% block title %} Home {% endblock %} {% block body %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" style="background-color: rgb(190, 218, 250)">
  <div class="container">
    <div class="row">
      <div class="col-md-6">{% if session['name'] %} Login Berhasil! Selamat Datang Kakak {{ session['name'] }} {% else %} Design By Kelommpok 6 ARM2 {% endif %}</div>
    </div>
    <h1>Selamat Datang</h1>
    <h1>Disistem Kontrol Produksi Velg dan Ban</h1>
    <section class="text-center">
      <img src= {{ url_for('static', filename = "1.jpg" )}} width="500" height="350"class="rounded-circle"/><img src= {{ url_for('static', filename = "7.jpg" )}} width="500" height="350"class="rounded-circle"/>
    </section>
  </div>
</div>
<div class="container" style="background-color: rgb(190, 218, 250)">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Teliti</h2>
      <p>Dalam setiap menjalankan pekerjaan ketelitian menjadi tolak ukur keberhasilan suatu produksi manufaktur</p>
    </div>
    <div class="col-md-4">
      <h2>Telaten</h2>
      <p>Kami mengutamakan sikap telaten dalam bekerja karna itu hal terpenting</p>
    </div>
    <div class="col-md-4">
      <h2>Profesional</h2>
      <p>Setiap pekerja kami memiliki sertifikasi keprofesionalan dan memiliki kemapuan yang dapat dipertanggungjawabkan</p>
    </div>
    <section class="text-center"><img src= {{ url_for('static', filename = "2.jpg" )}} width="500" class="rounded-circle"/></section>
    <section class="text-center"><img src= {{ url_for('static', filename = "5.jpg" )}} width="500" class="rounded-circle"/></section>
  </div>
</div>
{% endblock %}
